nav{
    height: 60px;
}
.button-darkmode{
    margin-right: 20px;
}
.button-darkmode button{
    border: none;
}
.form-check-label{
    margin-right: 20px;
}
.form-check-input {
    border: 2px solid #6c757d !important;
    cursor: pointer;
    background-color: #e9ecef;
    margin-right: 10px;
}
.form-check-input:checked {
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}   
.form-check-label {
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
}
.color-themes {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.color-themes button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}