*{
  font-family: 'Poppins', sans-serif;
}
.nav{
  margin: 0px;
  
}
li{
  list-style: none;
  margin: 20px;
  font-size: 20px;
}
.container{
  width: 50%;
}
html{
  scroll-behavior: smooth;
}
.alert{
  position: fixed;
  left:20px;
  width: 300px;
  z-index: 9999;
}

@media (max-width: 576px) {
  .container {
    width: calc(100% - 1rem);
  }

  .alert {
    left: 0.5rem;
    width: calc(100% - 1rem);
  }
}